// https://gist.github.com/taniarascia/56893ff29f64038dca91
$content-width: 100%;
$breakpoint: 800px;

$nav-height: 90px;
$nav-background: transparent;

$nav-font-color: #186067;
$nav-font-color-dark: #fff;

$link-hover-color: #f0f0f0;

$link-green: #A3DC00;

nav {
  float: right;
  font-size: 12px;
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
      float: left;
      position: relative;
      
      a {
        transition: all 300ms ease-in-out;
        
        display: block;
        padding: 0 20px;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
        padding-left: 4px;
        content: ' ▾';
        } 
      }
      
      ul li {
        min-width: 190px;
        & a {
          padding: 15px;
          line-height: 20px;
          z-index: 1;
        }
        
      }
    }
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
   nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
         a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  
 .nav-dropdown {
   position: static;
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  height: $nav-height;
  background: $nav-background;
  position: fixed;
  width: 100%;
  z-index: 10;
  
 
  &.dark-style {
    .brand {
      a,
      a:visited {
        color: $nav-font-color-dark;
        text-decoration: none;
      }
      
      div.logo {
        background-image: url( /images/logo-white.png);
        background-repeat: no-repeat;
        top: 0;
        left: 0;
      }
    }
    
    nav {
      a,
      a:visited {
        color: $nav-font-color-dark;
        text-decoration: none;
      }
      
  	.navbar-item {
  		.button {
  	    	line-height: 0;
  		}
  		
  		&:hover {
  			background: transparent !important;
  		}
  	}
  	
  	
  	button.signup {
  		color: $link-green;
  		border-color: $link-green;
  	}
  	
  	button.donate {
  		color: $nav-font-color;
  	}
  	
  }

  
    
    
    
  } 
  
  
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-top: 14px;
  
  div.logo {
    display: block;
    width: 130px;
    @media (min-width: 790px) { 
      width: 178px;
    }
    height: 57px;
    background-image: url( /images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
  
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
  
  a:hover {
    opacity: .8
  }
}



/* nav bar */
.navbar-brand {
	min-height: 114px;
	
	.kelped {
		min-height: 57px;
	}
	
	.challenge {
		min-height: 40px;
		margin-left: 10px;
		margin-top: 6px;
	}
}
nav {
	.navbar-item {
		.button {
	    	line-height: 0;
		}
		
		&:hover {
			background: transparent !important;
		}
	}
	
	
	button.signup {
		background: transparent !important;
		/* Button Plate - Outline: */
		border: 1px solid #1B6067;
		border-radius: 7px;		
		
		font-size: 12px;
		color: #1B6067;
		letter-spacing: 0;
	}
	
	button.donate {
		/* Button Plate - Donate: */
		background: $link-green;
		border-radius: 7px;
	}
	
}

