@charset 'UTF-8';

// Init variables
@import 'variables';

// Add library
@import 'library';

// Add Nav bar
@import 'navbar';


/******************
universal
******************/
body {
	background: white;
	font-family: 'Oxygen', sans-serif;
	font-size: 100%;
}


/* buttons */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




/* header */
#header {

    border: 0px solid white;
    background-image: url( /images/skyblend.png);
	background-repeat: repeat;
    position: relative;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 114px;
  	display: flex;
  	justify-content: space-between;


	#logo {

	    border: 0px solid black;
	    max-width: 300px;
	    margin-left: 27px;
	    width: 100%;
	    margin-top: 23px;

		img.kelped {
			width: 110px;
			height: 57px;
		}

		img.challenge {
			position: relative;
    		left: 5px;
    		top: -4px;
		}
	}

	#menu {


		border: 0px solid black;

		display: flex;
	    justify-content: flex-end;
		max-width: 99%;
		width: 75%;

		ul {


			border: 1px solid red;
			display: flex;
		    justify-content: center;
		    align-items: center;

			#takethechallenge {

				a {

				}
			}

			li {
				display: inline;
				padding-left: 1em;
				padding-right: 1.8em;

				a {
				}
			}
		}
	}
}


/* footer */
#footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items:left;
	position: relative;
	background: #062E4A;
	border: 0px solid green;
	color: white;

	padding-top: 100px;
	padding-bottom: 100px;

	#wrap {
		max-width: auto;
		max-width: 960px;
		margin: 0 auto;
		max-height: auto;
		height: auto;
		padding: 0 1rem;

	.leftdiv {
			border: 0px solid orange;
			max-width: auto;
			width: 35%;
			margin-right: 5%;
			max-height: auto;
			height: 100%;
			float: left;
		}

	.rightdiv {
		position: relative;
		border: 0px solid orange;
		max-width: auto;
		width: 60%;
		max-height: auto;
		height: 100%;
		float: left;
		}
	}
	.container {
		display: flex-inline;
		flex-direction: row;
		position: relative;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: auto;
		max-width: auto;
		width: 100%;
		border: 0px solid red;
	}

	.alwayspad15pxontop {
		padding-top: 15px;
	}

	#contactus {
		ul {
			padding-bottom: 79px;

			li {
				a {
					color: #8BC53F;
				}
			}
		}
	}

	#socialmedia {
			display: flex-inline;
			flex-direction: row;
			position: relative;
			margin-top: 0px;
			margin-left: 0px;
			margin-right: auto;
			max-width: 250px;
			width: 100%;
			max-height: auto;
			height: 100%;
			padding-bottom: 15px;
			border: 0px solid red;

			span {
				display: block;
				border: 0px solid white;
				position: relative;
				padding-bottom: 35px;
				color: white;
			}


			ul {

				display: flex;
				flex-direction: row;
				justify-content: space-between;
				position: relative;
				border: 0px solid white;
				max-width: 210px;
				width: 100%;
				max-height: 70px;
				height: 100%;

				li {
					display: inline-flex;
					flex-direction: row;
					position: relative;
					border: 0px solid black;
					max-width: 200px;
					width: 54px;
					max-height: 54px;
					height: 54px;

					img {

						width: 100%;

					}




					/*	display: inline; */
					a {
						display: flex;
						flex-direction: column;
						position: absolute;
						background: none;
						text-align: center;
						width: 50px;
						height: 50px;
						font-size: 7px;


					}
				}
			}
		}


	#donations {
			display: flex-inline;
			flex-direction: column;
			position: relative;
			margin-top: 0px;
			margin-left: 0px;
			margin-right: auto;
			max-width: 550px;
			width: 100%;
			border: 0px solid red;


			ul {

				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: relative;
				border: 0px solid white;
				max-width: 550px;
				width: 100%;
				max-height: 200px;
				height: 100%;

				li {

					display: flex;
					flex-direction: column;
					position: relative;
					border: 0px solid black;
					max-width: 550px;
					width: 100%;
					max-height: 43px;
					height: 100%;
					padding-bottom: 15px;

					p {
						font-size: .8em;
					}

					a {

					color: #8BC53F;

				}


				}
			}
		}

	#copyright {

		display: flex-inline;
		flex-direction: column;
		position: relative;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: auto;
		max-width: 550px;
		width: 100%;
		border: 0px solid red;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			border: 0px solid white;
			max-width: 550px;
			width: 100%;
			max-height: 200px;
			height: 100%;

			li {

				display: flex;
				flex-direction: column;
				position: relative;
				border: 0px solid black;
				max-width: 550px;
				width: 100%;
				max-height: 43px;
				height: 100%;
				padding-bottom: 0px;

					p {
						font-size: .8em;
					}

			}
		}
	}
}


.container.scene-transition {
	width: 100%;
	min-height: 300px;
	max-height: 300px;
    background: #227f8e;
    background-image: linear-gradient(#227f8e 0%, #03a8a0 100%);
}

/******************
scence 01
- landing
******************/
section#landing {


	/* multiple backgrounds */
	background-color: purple;

	background-image:
		url(/images/clouds.svg),
		url(/images/skyblend.png),
		url(/images/birds.svg),
		url(/images/boat.svg),
		url(/images/boatcastingline.svg),
		url(/images/wave-1.svg),
		url(/images/wave-2.svg),
		url(/images/wave-3.svg),
		url(/images/wave-4.svg),
		url(/images/bkg-landing-sky.svg);

	background-repeat:
		repeat-x,
		repeat-x,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;


	background-position:
		top,
		top,
		1053px 432px,
		0 bottom,
		450px 1086px,
		-2px 101%,
		-2px 101%,
		-2px 101%,
		-2px 101%,
		bottom;

	background-size:
		300px 100px,
		100%,
		340px 146px,
		100%,
		3.72px 250.53px, /* casting line does not go to bottom */
		103%,
		103%,
		103%,
		103%,
		cover;

	.container {
		/* Help bring back the: */
		font-family: Montserrat;

		display: flex;
		position: relative;
		border: 0px solid green;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		// @do mobile
		height: 840;
		min-height: 840px;
		width: 100%;


		#landing_title {

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			background-repeat: no-repeat;
			position: relative;
			border: 0px solid white;
			margin-left: auto;
			margin-right: auto;
			width: 700px;
			display: flex;
			color: #005672;

			h1 {
				position: relative;
				background-image: url(/images/lg-kelpchallenge.svg);
				background-repeat: no-repeat;
				background-size: 100%;
				width: 626px;
				height: 431px;

				&::after {
				/* 2018: */
					font-size: 20px;
					color: #013E63;
					letter-spacing: 0;
					text-align: right;
					line-height: 36px;
					content: "2018";
					position: absolute;
					top: 67%;
					right: 0;
				}
			}

			h2 {
				font-family: Montserrat;
				font-size: 16px;
				color: #013E63;
				letter-spacing: 3.56px;
				text-align: center;
				line-height: 40px;
				font-weight: regular;
			}

			h3 {
				display: block;
				position: absolute;
				border: 0px solid yellow;
				margin-top: 100px;
				max-width: 100%;
				width: 612px;
				max-height: 100%;
				height: 50px;
				text-align: right;

			}

			h4 {
				font-size: 24px;
				color: #013E63;
				letter-spacing: -0.5px;
				text-align: center;
				line-height: 36px;
				font-weight: 400;
			}
		}

		#social-media {
			display: inline-block;
			text-align: center;

			a {
				display: inline-block;
			}

			img {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 0 12px;
			}
		}

		#btn_takethechallenge {
			button {
				height: 44px;
				width: 227px;
				background: #005672;
				border-radius: 4px;
				font-size: 14px;
				color: #FFFFFF;
				letter-spacing: 0;
				text-align: center;
				line-height: 16px;
				border: 0;
			}
		}

		#learnmore {
			a {
				opacity: 0.6;
				font-family: Montserrat;
				font-size: 18px;
				color: #FFFFFF;
				letter-spacing: 0;
				text-align: center;
				line-height: 36px;
			}
		}
	}

}


/* underwater container */
.underwater {
	position: relative;
	// background-image: url('/images/bkg-underwater.svg');
    background: #03a8a0;
    // background-image: linear-gradient(#03a8a0 0%, 004961#1A797D 100%);
    background-image: linear-gradient(#03a8a0 0%, #004961 100%);

	background-size: cover;
	z-index: 1;

	.surface-light {
		position: relative;


		&::before{
			width: 100%;
			height: 20%;
			position: fixed;
			content: "";
			top: 0;
			bottom: 0;
			z-index: 1;
			opacity: 0;

			background-image :
				url('/images/surface-light-blend.png');


			background-size :
				cover;

			background-position:
				100% 0;

			background-repeat:
				no-repeat;

			background-attachment:
				fixed;

		}

		.trigger-surface-light {
			z-index: 1;
		}
	}

    &.light-on{


    	.surface-light {

    		transition: background-image ease-out .5s ;
    		background-image: linear-gradient(#1A797D 0%, #1A797D 50%, #005672 100%);

			&::before{
				transition: opacity ease-out .5s, height ease-out .5s ;
				height: 100%;
    			opacity: 1;
			}
    	}

	}

	&.trigger-seaotter-off {
    	section#history {
	  		.bg-seaotter {

					background-position:
						-66% 80%;

					@media screen and (max-height: 768px) {
						background-position:
							-66% 150%;
					}

					@media screen and (max-height: 1240px) {
						background-position:
							-66% 150%;
					}
	    		}
	    	}
	}

	&.trigger-seaotter-on {
    	section#history {
	  		.bg-seaotter {
					transition: background-position ease-out .5s;

					background-position:
						94% 80%;

					@media screen and (max-height: 768px) {
						background-position:
							94% 80%;
					}

					@media screen and (max-height: 1240px) {
						background-position:
							94% 90%;
					}
	    		}
	    	}
	}


	&.trigger-days-scene {

		&.trigger-months {

		}

	}

	&.trigger-foodchain{

		.sc-seafloor {
			opacity: 1;
			z-index: 1;
		}

	}

	&.trigger-seaurchin-on {

		&.trigger-seaotter-on {
			.sc-urchin-split {
				opacity: .25;
			}
		}

		.sc-urchin-split {
			opacity: 1;
			z-index: 3;
			position: fixed;
		}
	}

	&.trigger-restoration-on{

		.sc-seafloor {
			opacity: 1;
		}

	}

	&.trigger-deepdive-on {
		.sc-deepdive {
			opacity: 1;
			z-index: 3;
		}

		.bg-history-diver {
			opacity: 0;

			background-position:
				200px -250px !important;
		}

	}

	&.trigger-restoration-on.trigger-days {

		.sc-within-days {
			opacity: 1;
			z-index: 2;
		}
	}

	&.trigger-restoration-on.trigger-weeks{

		.sc-within-weeks {
			opacity: 1 !important;
			z-index: 2 !important;
		}
	}

	&.trigger-restoration-on.trigger-months{

		.sc-seafloor-pup,
		.sc-bluefish,
		.sc-redfish,
		.sc-within-days,
		.sc-within-weeks,
		.sc-thrive {
			opacity: .7;
			z-index: 3;
		}

		.sc-thrive {
			z-index: 2 !important;
		}
	}

	&.trigger-howmuch-on {
		.sc-restore{
			opacity: .7;
			z-index: 3;
		}
	}




	.container {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    text-align: left;
    padding: 1rem;
    // border: 1px solid rgba(0,0,0,.05);

		h2 {
			display: block;
			border: 0px solid white;
			max-width: 750px;
			margin-left: 0px;
			text-align: left;
			vertical-align: middle;
			font-size: 3em;
			color: white;
			padding: 1rem;

			@media (min-width: 790px) {
				font-size: 4em;
				padding: 0rem;
			}
		}

		div.callout {
			font-family: Montserrat;
			font-weight: bold;

			font-size: 21px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 29px;

			max-width: 560px;
		    margin-bottom: 30px;
		    margin-top: 30px;
		}

		.content {
			/* At the turn of the c: */
			font-family: Montserrat;
			font-size: 21px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 29px;

			max-width: 560px;
		    margin-bottom: 30px;
		    margin-top: 30px;
		}

		p {
			font-family: Oxygen;
			font-size: 14px;

			@media(min-width: 790px) {
				font-size: 16px;
			}

			font-weight: regular;

			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 24px;

			max-width: 400px;
			margin-bottom: 1rem;
		}

		.text-right {
			text-align: right;
		}

		.text-left{
			text-align: left;
		}

		&.gap {
			min-height: 260px;
		}

		&.gap-100 {
			min-height: 100px;
		}

		&.gap-200 {
			min-height: 200px;
		}

		&.gap-300 {
			min-height: 300px;
		}

		&.gap-400 {
			min-height: 400px;
		}

		&.gap-400 {
			min-height: 400px;
		}



		&.right-adjusted {
			@media (min-width: 790px) {
				padding-left: 400px;
			}
		}

		&.center-adjusted {
			text-align: center !important;

			#section-logo {
				width: 100%;
			}

			h2 {
		    text-align: center;
		    width: 100%;
		    max-width: 100% !important;
			}

			.content {
				margin: 30px auto !important;
				text-align: center !important;
			}

			.cta {
				padding-left: 0 !important;
			}

		}
	}


	.cta {
		@media (min-width: 790px) {
  			padding-left: 105px;
		}

		a.start {
			display: inline-block;
	    background: #A3DC00;
	    border-radius: 4px;
	    min-width: 240px;
	    max-width: 240px;
	    height: 40px;

	    font-family: Montserrat;
			font-weight: bold;
	    font-size: 14px;
	    color: #FFFFFF;
	    letter-spacing: 0;
	    text-align: center;
	    line-height: 40px;
	    text-decoration: none;
		}
	}

}


/* scene 1 */
section.scene {
	padding-top: 100px;
	height: 940px;
	position: relative;

	.container {
		width: 100%;
		max-width: 920px;
		margin: 0 auto;
		text-align: left;
	}

	#section-logo{
		display: block;
		border: 0px solid black;
		width: 250px;
		margin-left: 0px;
		text-align: center;
		color: #fff;

		img {
			display: block;
			background-repeat: no-repeat;
			background-size: 94px 46px;
			border: 0px solid red;
			width: 94; height: 46;
			text-align: center;
			vertical-align: middle;
			display: inline-block;
		}

		span {

			display: block;
			border: 0px solid white;
			position: relative;
			padding-top: 15px;
			color: white;
		}
	}

	.offset {
		padding-left: 1rem;
		padding-right: 1rem;

		@media (min-width: 790px) {
			margin-left: 60px;
		}
	}

	.cta-details {
		a {
			font-size: 16px;
			color: #A3DC00;
			letter-spacing: 0;
			line-height: 24px;

			img {
				display: inline;
			}
		}
	}

}


/* scene 2 -  section - */
section#about {
	transition: background-position ease-out 2.33s;

	background-image:
		url('/images/diver.png');

	background-size:
		455px 454px;

	background-position:
		-30% 0%;

	background-repeat:
		no-repeat;
}

section#about.in-view {
	background-size:
		455px 454px;

	background-position:
		70% 50%;

	background-repeat:
		no-repeat;
}

section#about .bg-fish{
	position: relative;
	transition: background-position ease-out 2.03s;

	background-image:
		url('/images/fish.svg');

	background-size:
		247px 130px;

	background-position:
		140% 35%;

	background-repeat:
		no-repeat;
}

section#about.in-view .bg-fish {
	background-position:
		90% 65%;
}



/* scene 3 - get started*/
section#getstarted{
	.container {
		width: 100%;
		max-width: 920px;
		margin: 0 auto;
		text-align: left;
		position: relative;
	}

	height: 940px;
	display: flex;
	flex-direction: column;
	align-items:left;
	position: relative;

	transition: background-position ease-out 2.03s;
	background-image:
		url('/images/lg-kelp.png');
	background-size:
		1047px 1043px;
	background-position:
		-600px 0%;
	background-repeat:
		no-repeat;

	.bg-clipboard {
		transition: background-position ease-out 4.03s;

		display: block;
		position: relative;
		width: 100%;
		height: 100%;

		background-image:
			url('/images/clipboard.svg');

		background-size:
			455px 454px;

		background-position:
			100% 0%;

		background-repeat: no-repeat;
	}

	.bg-bluezebra {
		transition: background-position ease-out 2.03s;

		display: block;
		float: left;
		width: 100%;
		height: 100%;
		position: relative;

		background-image:
			url('/images/bluezebra.png');

		background-size:
			247px 130px;

		background-position:
			-40% 40%;

		background-repeat: no-repeat;
	}

	&.in-view {

		background-position:
			-600px 0%;

		.bg-clipboard {
			background-position:
				100% 100%;
		}

		.bg-bluezebra {
			background-position:
				30% 65%;
		}
	}

	h2 {
		position: absolute;
		left: 200px;
		max-width: 235px;
		margin: 0;
		text-align: right;
		color: white;
		font-size: 3.5em;

		font-family: Montserrat;
		font-weight: 400;
		font-size: 60px;
		color: #FFFFFF;
		letter-spacing: -1.25px;
		text-align: right;
		line-height: 60px;
	}


	#steps {



	    position: relative;
	    max-height: 500px;
	    height: 100%;
	    margin: 0px;
	    float: right;
    	width: 100%;

		@media (min-width: 790px) {
		    min-width: 480px;
		    width: 480px;
			float: right;
	    	padding: 1rem;
		}



		.item {
			position: relative;

			@media (min-width: 790px) {

		    	padding-left: 105px;

				&:after {
			    content: '-';
			    display: block;
			    width: 53px;
			    height: 62px;
			    line-height: 70px;
			    background-image: url(/images/step-bubble.svg);
			    background-position: 0 10px;
			    background-repeat: no-repeat;
			    position: absolute;
			    left: 37px;
			    top: -32px;
			    font-family: Oxygen;
			    font-weight: light;
			    font-size: 19px;
			    color: #FFFFFF;
			    letter-spacing: -0.4px;
			    text-align: center;
				}

			  	&:nth-child(1) {
						&:after {
							content: '1';
						}
			  	}

			  	&:nth-child(2) {
						&:after {
							content: '2';
						}
			  	}

			  	&:nth-child(3) {
						&:after {
							content: '3';
						}
			  	}
			}

		}


		h3 {
			font-family: Montserrat;
			font-weight: bold;
			font-size: 34px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 24px;
		}


		p {
			font-family: Oxygen;
			font-size: 16px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 24px;
			margin: 1rem 0;

			a {
				color: #A3DC00;
				font-weight: bold;
				text-decoration: none;
			}

		}

	}

}

/* scene 4 - facts*/
section#science {
	height: 1440px;
	position: relative;

	/*
	background-image:
		url('/images/seal.png'),
		url('/images/shark.png'),
		url('/images/lg-kelp2.png'),
		url('/images/lg-kelp3.png');

	background-size:
		455px 454px,
		247px 130px,
		982px 1457px,
		1252px 1248px;

	background-position:
    -260px 50%,
    100% 50%,
    -420px 50%,
    640px 420px;

	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		no-repeat;
	*/


	.bg-kelp-2,
	.bg-kelp-3,
	.bg-seal,
	.bg-shark
	{
		top: 0;
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;

	}


	&.in-view {
		.bg-kelp-2 {
			background-size:
				982px 1457px;

			background-position:
			    -320px 100px;

			transition: background-position ease-in .8s, background-size ease-in .8s ;
		}

		.bg-kelp-3 {
		}

		.bg-seal{
			background-size:
				455px 454px;

			background-position:
				-60px 80%;

			transition: background-position ease-out 1s, background-size ease-out 1s ;
		}

		.bg-shark{
			background-size:
				247px 130px;

			background-position:
				80% 50%;

			transition: background-position ease-out 1s, background-size ease-out 1s ;
		}

	}

	.bg-kelp-2 {
		background-image:
			url('/images/lg-kelp2.png');

		background-size:
			982px 1457px;

		background-position:
		    -620px 50%;

		opacity: .5;
	}

	.bg-kelp-3 {
		background-image:
			url('/images/lg-kelp3.png');

		background-size:
			1252px 1248px;

		background-position:
    		840px 420px;

		opacity: .5;
	}

	.bg-seal{
		background-size:
			455px 454px;

		background-position:
			-860px 100%;


		background-image:
			url('/images/seal.png');

	}

	.bg-shark{
		background-size:
			247px 130px;

		background-position:
			140% 50%;

		background-image:
			url('/images/shark.png');
	}

	.facts {
		position: relative;
		margin-bottom: 50px;
		padding-left: 1rem;
		padding-top: 3rem;


		// @todo mobile adjust

		@media (min-width: 790px) {
			padding-top: 0rem;
			padding-left: 620px !important;
		}


		div {
			display: block;
		}

		.big {
			/* 1: */
			font-family: Montserrat;
			font-size: 120px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 50px;
			position: relative;

			left: -16px;
			top: -35px;

			@media (min-width: 790px) {
				top: 5px;
				left: -44px;
			}
		}

		.line1 {
			/* Restoration Dive: */
			font-family: Montserrat;
			font-weight: bold;
			font-size: 24px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 24px;
		}
		.line2 {
			/* will capture: */
			font-weight: 400;
			font-size: 18px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 50px;
		}
		.line3 {
			/* 8.5 TONS: */
			font-weight: 600;

			font-size: 56px;
			@media(min-width: 790px) {
				font-size: 60px;
			}

			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 40px;
		}
		.line4 {
			/* of CO2 over 10yrs: */
			font-weight: 400;
			font-size: 24px;
			color: #FFFFFF;
			letter-spacing: 0;
			line-height: 60px;
		}

	}

	.float-facts {
		// @todo mobile adjust
		font-family: Montserrat;
		font-weight: bold;
		display: none;

		@media (min-width: 790px) {
			padding-left: 50%;
			display: block;
		}


		div {
			/* Absorbtion of CO2 an: */
	    font-size: 16px;
	    color: #FFFFFF;
	    letter-spacing: 0;
	    text-align: center;
	    font-family: Montserrat;
			font-weight: bold;
	    display: block;
	    position: relative;
	    padding: 20px;
	    width: 100%;
		}

		.line1 {
			text-align: left;
			max-width: 50%;
			position: relative;

			&::before {
				display: block;
				position: absolute;
				width: 80px;
				height: 211px;
				top: -231px;
				left: 0;
				content: "";
				font-size: 0px;
				z-index: -1;

				background-image :
					url('/images/bubble-01.png');
			}
		}

		.line2 {
			text-align: right;
			position: relative;
			margin-top: 130px;

			&::before {
				display: block;
				position: absolute;
				width: 117px;
				height: 346px;
				top: -366px;
				right: 0;
				content: "";
				font-size: 0px;
				z-index: -1;

				background-image :
					url('/images/bubble-02.png');
			}
		}

		.line3 {
			text-align: left;
			position: relative;
			margin-top: 130px;

			&::before {
				display: block;
				position: absolute;
				width: 235px;
				height: 236px;
				top: -236px;
				left: 0;
				content: "";
				font-size: 0px;
				z-index: -1;

				background-image :
					url('/images/bubble-03.png');
			}
		}


	}
}


/* scene 5 -  history */
.history-scene-bkg {
	height: auto;
	position: relative;
	z-index: 7;

		// url('/images/seafloor-bluefish.png'),
		// url('/images/seafloor-redfish.png'),
		// url('/images/seafloor-witin-weeks.png'),
		// url('/images/seafloor-witin-days.png'),
    background-size: 162px 268px, 340px 232px, 247px 130px, 260px 163px, 100%, 100%, 100%, 100%, 100%;
    background-position: 220px 96%, 50% 95%, 100% 90%, 200px 93%, bottom, bottom, bottom, bottom, bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
		background-attachment: scroll, scroll, scroll, scroll, scroll, scroll, scroll, scroll, scroll;

}

.sc-deepdive,
.sc-seafloor-pup,
.sc-bluefish,
.sc-redfish,
.sc-thrive,
.sc-urchin-split,
.sc-within-days,
.sc-within-weeks,
.sc-seafloor,
.sc-restore{
	transition: opacity ease-out .5s;

	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;

	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0;
	z-index: 1;
}

.sc-deepdive {
	background-image:
		url('/images/deepdive.png');

    background-size: 162px 268px;

    background-position: 30% 66%;
}
.sc-seafloor-pup {
	background-image:
		url('/images/seafloor-pup.png');

    background-size: 340px 232px;

    background-position: 50% 50%;

	transition-delay: 600ms;
}
.sc-bluefish {
	background-image:
		url('/images/seafloor-bluefish.png');

    background-size: 247px 130px;

    background-position: 100% 90%;

	transition-delay: 300ms;
}
.sc-redfish {
	background-image:
		url('/images/seafloor-redfish.png');

    background-size: 260px 163px;

    background-position: 200px 93%;

	transition-delay: 400ms;
}
.sc-thrive {
	background-image:
		url('/images/seafloor-thrive.png');

    background-size: 100%;

    background-position: bottom;

	transition-delay: 1200ms;
}
.sc-urchin-split {
	background-image:
		url('/images/seafloor-urchin-split.png');

    background-size: 100%;

    background-position: bottom;

	transition-delay: 220ms;
}
.sc-within-days {
	background-image:
		url('/images/seafloor-within-days.png');

    background-size: 100%;

    background-position: bottom;

	transition-delay: 120ms;
}
.sc-within-weeks {
	background-image:
		url('/images/seafloor-within-weeks.png');

    background-size: 100%;

    background-position: bottom;

	transition-delay: 600ms;
}
.sc-seafloor {
	background-image:
		url('/images/seafloor.png');

    background-size: 100%;

    background-position: bottom;
}
.sc-restore{
	background-image:
		url('/images/bg-restore.png');

    background-size: 100%;

    background-position: bottom;
}





section#history{
	height: auto;
	padding-bottom: 300px;

	h2 {
		max-width: 500px;
	}

	.bg-surface-light,
	.bg-history-diver,
	.bg-history-bubbles {
		transition: background-position ease-out .7s, opacity ease-out .5s;

		top: 0;
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
	}


	.bg-surface-light {
	}

	.bg-seaotter {
		transition: background-position ease-out .6s;
	    transition-delay: 500ms;

		background-image :
			url('/images/seaotter.png');

		background-size :
			360px;

		background-position:
			144% 150%;

		background-repeat:
			no-repeat;

		background-attachment:
			fixed;

	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;
	}

	.bg-history-diver {

		background-image :
			url('/images/history-diver.png');

		background-size :
			175px;

		background-position:
			200px 250px;

		background-repeat:
			no-repeat;

		background-attachment:
			scroll;
	}

	.bg-history-bubbles {
		background-image :
			url('/images/history-bubbles.png');

		background-size :
			48px;

		background-position:
			220px 00px;

		background-repeat:
			no-repeat;

		background-attachment:
			scroll;
	}

	span {
		color: #fff;
	}
}


/* thanks */
section#thanks {
	padding-top: 300px;
	padding-bottom: 300px;
	text-align: center;
	background: #005672;

	.box {
		text-align: center;
		max-width: 920px;
		margin: 0 auto;
		line-height: 2rem;
		padding: 1rem;
	}

	h2 {
		/* Special thanks to ou: */
		font-family: Montserrat;
		font-weight: bold;
		font-size: 36px;
		color: #FFFFFF;
		letter-spacing: -0.75px;
		text-align: center;
		line-height: 70px;
	}

	.sub-title {
		/* We do this out of ou: */
		font-family: Oxygen;
		font-weight: bold;
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: 0;
		text-align: center;
		line-height: 30px;
	}

	.members {
		max-width: 960px;
		margin: 80px auto;
	}

	.sub-footnote {
		/* Additional gratitude: */
		font-family: Montserrat;
		font-weight: bold;
		font-size: 24px;
		color: #FFFFFF;
		letter-spacing: -0.5px;
		text-align: center;
	}

	h5 {
		/* Climate Cents: */
		font-family: Montserrat;
		font-weight: 600;
		font-size: 18px;
		color: #FFFFFF;
		letter-spacing: -0.5px;
		text-align: center;
		margin: 10px auto;

		@media(min-width: 790px) {
			font-size: 24px;
		}
	}

	h6 {
		/* Nick, Russell, Fred: */
		font-family: Oxygen;
		font-size: 12px;
		color: #FFFFFF;
		letter-spacing: -0.37px;
		text-align: center;
	}

	.morethanks {
		margin-top: 60px;
		padding: 40px auto;
		font-family: Oxygen;
		font-size: 12px;
		font-weight: 100;
		color: #FFFFFF;
		letter-spacing: -0.37px;
		text-align: left;

		.row {
			line-height: 2rem;
		}
	}
}


.load-delay {
  animation-delay: 333ms;
	animation-duration: 900ms;
}

.load-long-delay {
  animation-delay: 633ms;
	animation-duration: 900ms;
}


@media (max-width: 790px) {

	.hide-mobile {
		display: none !important;
	}

	section#landing .container #landing_title {
		width: 320px;

		h1 {
			background-size: 100%;
			width: 316px;
			height: 312px;
			margin-top: 100px;
		}
	}

	#footer {

		#wrap {

			.leftdiv {
				width: 100%;
			}
			.rightdiv{
				width: 100%;
			}
		}
	}

}
