body {
	background: orange;
	font-family: 'Oxygen', sans-serif;
}

#header { 

	background: yellow;

	#logo { 

		img { 

		}
	}

	#menu { 

		ul { 

			#takethechallenge { 

				a { 

				}
			}

			li { 

				a { 

				}
			}
		}
	}
}

#footer { 
	
	background: yellow;

	#contactus { 

		ul { 

			li { 

			}
		}
	}

	#socialmedia { 

		ul { 

			#checkinonusintheseplaces { 

			}

			li { 

				a { 

				}
			}
		}
	}

	#donations { 

		ul { 

			li { 

			}
		}
	}

	#copyright { 

		ul { 

			li { 

			}
		}
	}
}

#landing { 
	
	#landing_title { 

		#h1landing_title { 

		}

		#h2landing_date { 

		}

		#h2landing_year { 

		}
	}

	#Help { 

		#help_bring { 

		}
	}

	#socialmedia { 

		ul { 

			li { 

				a { 

				}
			}
		}
	}

	#btn_takethechallenge { 

		button { 

			ul { 

				#takethechallenge { 

					a { 

					}
				}
			}
		}
	}

	#learnmore { 

		ul { 

			li { 

				a { 

				}
			}
		}
	}
}

#aboutthechallenge { 

	background: grey;
	
	#thechallengelogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	h2 { 

	}

	p { 

	}

	a { 

	}
}

#getstarted { 

	background: white;

	
	#gettingstartedis { 

	}

	#signup { 

	}

	p { 

	}

	#setyourgoals { 

	}

	#divein { 

	}

	#btn_GetStarted { 

		button { 

			ul { 

				#GetStarted { 

					a { 

					}
				}
			}
		}
	}

	#link_donatedirectly { 

		a { 

		}
	}
}

#kelpfacts { 

	background: #f2e6d9;

	#thesciencelogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	h2 { 

	}

	p { 

	}

	a { 

	}

	#1restorationdive { 

		h1 { 

		}
	}
}

#thehistory { 

	background: #e6ccb3;

	#thehistorylogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	p { 

	}
}

#thehistorywherethekelpis { 
	
	background: #d9b38c;

	#thehistorylogo { 

		img { 

		}

		span { 

		}
	}

	p { 

	}

	h1 { 

	}
}

#thedisruptedfoodchain { 
	
	background: #cc9966;

	#thehistorylogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	p { 

	}
}

#therestoration1 { 

	#therestorationlogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	p { 

	}

	a { 

	}
}

#therestoration2 { 

	#therestorationlogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	p { 

	}
}

#therestoration3 { 

	span { 

	}

	h1 { 

	}

	p { 

	}
}

#therestoration4 { 

	span { 

	}

	h1 { 

	}

	p { 

	}
}

#therestoration5 { 

	span { 

	}

	h1 { 

	}

	p { 

	}
}

#therestoration6 { 

	#thechallengelogo { 

		img { 

		}

		span { 

		}
	}

	h1 { 

	}

	p { 

	}
}

#graciasez { 

	h1 { 

	}

	p { 

	}

	#specialthankslogos { 

		#members1 { 

			img { 

			}

			h5 { 

			}

			h6 { 

			}
		}

		#members2 { 

			img { 

			}

			h5 { 

			}

			h6 { 

			}
		}

		#members3 { 

			img { 

			}

			h5 { 

			}

			h6 { 

			}
		}

		#members4 { 

			img { 

			}

			h5 { 

			}

			h6 { 

			}
		}
	}

	#additionalgratitude { 

		#additionalgratitude-no1 { 

			p { 

			}
		}

		#additionalgratitude-no2 { 

			p { 

			}

			div { 

			}
		}
	}
}