<!-- footer -->
<div id="footer" class="section">
	<div id="wrap">
		<div class="leftdiv">
			<div id="" class="container">
				<div id="contactus">
					<ul>
						<li>Contact Us:</li>
						<li class="alwayspad15pxontop">
							<a href="#" id="">hello@climatecents.org</a>
						</li>
						<li>P.O Box 25291</li>
						<li>Los Angeles, CA 90025</li>
					</ul>
				</div>
			</div>
		</div> <!-- end tag id=leftdiv -->
		
		<div class="rightdiv">		
			<div id="" class="container">
				<div id="socialmedia">
					<span>Check in on us in these places:</span>
					<ul>
						<li>
							<a href="#"><img src="/images/Facebook.svg" /></a>
						</li>
						<li>
							<a href="#"><img src="/images/Instagram.svg" /></a>
						<li>
							<a href="#"><img src="/images/Twitter.svg" /></a>
						</li>
					</ul>
				</div>
			</div>
			
			
			
			<div id="" class="container">
				<div id="donations">
					<ul>
						<li>
							<div id="donationstosupportprojects">
								<p>Donations to projects on the website go directly to our partner nonprofits.</p>
							</div>
						<li>
							<div id="wanttosupportclimatecentsdirectly">
								<p>Want to support Climate Cents directly? You can  <a href="#">donate here.</a></p>
							</div>
						</li>
						<li>
							<div id="climatecentsisa501">
								<p>Climate Cents is a 501(c)(3) nonprofit. Tax ID 46-1275511.</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			
			
			<div id="" class="container">
				<div id="copyright">
					<ul>
						<li>
							<div>
								<p>&#169; 2014-2018 Climate Cents</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		
		</div> <!-- end tag id=rightdiv -->
	</div> <!-- end tag id=wrap -->
</div><!-- end footer tag -->

