<!-- footer -->
<div id="footer">
	<div id="contactus">
		<ul>
			<li>Contact Us:</li>
			<li>
				<a href="#">hello@climatecents.org</a>
			</li>
			<li>P.O Box 25291</li>
			<li>Los Angeles, CA 90025</li>
		</ul>
	</div>
	<div id="socialmedia">
		<ul>
			<li id="checkinonusintheseplaces">Check in on us in these places:</li>
			<li>
				<a href="#">Facebook</a>
			</li>
			<li>
				<a href="#">Instagram</a>
			</li>
			<li>
				<a href="#">Twitter</a>
			</li>
		</ul>
	</div>
	<div id="donations">
		<ul>
			<li>Donations to projects on the website go directly to our partner nonprofits.</li>
			<li>Want to support Climate Cents directly? You can <a href="#">here.</a>
			</li>
			<li>Climate Cents is a 501(c)(3) nonprofit. Tax ID 46-1275511</li>
		</ul>
	</div>
	<div id="copyright">
		<ul>
			<li>&#160; 2014-2018 Climate Cents</li>
		</ul>
	</div>
</div><!-- end footer tag -->