<div id="header">
	<div id="logo"><img src=""></div>
	<div id="menu">
		<ul>
			<li id="takethechallenge">
				<a href="#">The Challenge</a>
			</li>
			<li>
				<a href="#">Leaderboards</a>
			</li>
			<li>
				<a href="#">Prizes</a>
			</li>
			<li>
				<a href="#">Sign Up</a>
			</li>
			<li>
				<a href="#">Donate</a>
			</li>
		</ul>
	</div>
</div><!-- end header tag -->