<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#">
		<img src="/images/logo.png" />
      </a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
		<!-- navbar items -->
		<li>
			<a class="navbar-item">
			The Challenge
			</a>
		</li>
		<li>
			<a class="navbar-item">
			Leaderboards
			</a>
		</li>
		<li>
			<a class="navbar-item">
			Prizes
			</a>
		</li>
		<li>
			<a class="navbar-item">
			<button class="button signup">Sign Up</button>
			</a>
		</li>
		<li>
			<a class="navbar-item">
			<button class="button donate">Donate</button>
			</a>
		</li>
		<!--
        <li>
          <a href="#!">Dropdown</a>
          <ul class="nav-dropdown">
            <li>
              <a href="#!">item 1</a>
            </li>
            <li>
              <a href="#!">item 2</a>
            </li>
          </ul>
        </li>
        -->
      </ul>
    </nav>
  </div>
</section>