
<!-- scene landing -->
<section id="landing">
	<div id="landing_title">
		<h1 id="h1landing_title">Kelp Challenge</h1>
		<h2 id="h2landing_date">APRIL 1ST - APRIL 10TH</h2>
		<h2 id="h2landing_year">2018</h2>
	</div>
	<div id="Help">
		<h6 id="help_bring">Help bring back the Bay's kelp forest, its marine wildlife, and fight climate change at the same time.</h6>
	</div>
	<div id="socialmedia">
		<ul>
			<li>
				<a href="#">Facebook</a>
			</li>
			<li>
				<a href="#">Instagram</a>
			</li>
			<li>
				<a href="#">Twitter</a>
			</li>
		</ul>
	</div>
	<div id="btn_takethechallenge">
		<button>
		<ul>
			<li id="takethechallenge">
				<a href="#">Take The Challenge</a>
			</li>
		</ul></button>
	</div>
	<div id="learnmore">
		<ul>
			<li>
				<a href="#">Learn More</a>
			</li>
		</ul>
	</div>
</section><!-- end section id=landing tag -->
<!-- scene home_scene 02 - about the challenge -->
<section id="aboutthechallenge">
	<div id="thechallengelogo">
		<img src=""> <span>THE CHALLENGE</span>
	</div>
	<h1>What's this challenge you speak of ?</h1>
	<h2>For the month of March, you can help one of our favorite projects. The Santa Monica Bay Kelp Restoration Project restore.</h2>
	<p>We're working with The Bay Foundation to bring back nearly 40,000 acres of these underwater forests lost due to human activity. As the kelp grows back, wildlife returns, water quality improves, and a whole lot of carton is captured in the kelp stalks.</p>
	<p>Now, you can help. Start a team, or go it alone&#8212; see how many dives you can fund, and how much carbon you can help remove from our atmosphere. Winners will receive prizes, and you can post your achievements on social media. Let's all Help Kelp, the fishies and climate at the same time!</p><a href="#">See the full contest details</a> <a><img src="#"></a>
</section><!-- end section id=aboutthechallenge tag -->
<!-- scene home_scene 03 - get started -->
<section id="getstarted">
	<h1 id="gettingstartedis">Getting started is easy...</h1>
	<h2 id="signup">Sign Up.</h2>
	<p>Create your personal page, or start your team and recruit members</p>
	<h3 id="setyourgoals">Set Your Goals.</h3>
	<p>Challenge yourself&#8212; set a goal for yourself or your team.</p>
	<h4 id="divein">Dive In.</h4>
	<p>Start sharing your personal or team link, and track your progress towars your goals. Every dollar, every dive, and every opened mind helps.</p>
	<div id="btn_GetStarted">
		<button type="button">
		<ul>
			<li id="GetStarted">
				<a href="#">Get Started</a>
			</li>
		</ul></button>
	</div>
	<div id="copy_ifyoudontwant">
		<p>(If you don't want to start a team, you can always <a href="#">donate directly.</a> Every dollar goes to the restoreation effort).</p>
	</div>
</section><!-- end section id=getstarted tag-->
<!-- scene home_scene 04 - Kelp Facts -->
<section id="kelpfacts">
	<div id="thesciencelogo">
		<img src=""> <span>THE SCIENCE</span>
	</div>
	<h1>So, what's so great about kelp?</h1>
	<h2>Funny you should ask... Kelp forests are the ocean's tropical rainforests, providing habitats for more than 700 species of fish, invertebrates, and other algae.</h2>
	<p>What's more, they help fight climate change. Our oceans absorb 30-40% of the CO2 in the atmosphere, and as the atmosphere warms, the ocean turns acidic. Kelp grows so quickly, it pulls the CO2 from the water, which reduces the CO2 in the atmosphere as well. It's kind of our unsung, climate change super hero.</p><a href="#">Read even more geek kelp facts</a> <a><img src="#"></a>
	<div id="1restorationdive">
		<h1>1 Restoration Dive will capture 8.5 TONS of CO2 over 10yrs</h1>
	</div>
</section><!-- end section id=kelpfacts tag-->
<!-- scene home_scene 05 - The History -->
<section id="thehistory">
	<div id="thehistorylogo">
		<img src=""> <span>THE HISTORY</span>
	</div>
	<h1>Just where did our kelp go?</h1>
	<p>At the turn of the century, the Santa Monica Bay hosted over 40,000 acres of kelp forest, and the diverse sea life that it supported.</p>
	<p>Around that time, the demand for sea otter pelts brought them to near elimination.</p>
</section><!-- end section id=thehistory tag -->
<!-- scene home_scene 06 - The History -->
<section id="thehistorywherethekelpis">
	<div id="thehistorylogo">
		<img src=""> <span>THE HISTORY</span>
	</div>
	<p>At the turn of the century, the Santa Monica Bay hosted over 40,000 acres of kelp fores, and the diverse sea life that it supported.</p>
	<h1>Just where did our kelp go?</h1>
	<p>During this time, the demand for sea otter peltss brough them to near elimination.</p>
</section><!-- end section id=thehistorywherethekelpis tag -->
<!-- scene home_scene 87 - The History -->
<section id="thedisruptedfoodchain">
	<div id="thehistorylogo">
		<img src=""> <span>THE HISTORY</span>
	</div>
	<h1>The disrupted food chain.</h1>
	<p>Sea otters eat urchins. Urchins eat kelp. When the sea otters disappeared, this allowed the urchin population to flourish, and over time they decimated 95% of our local kelp forests.</p>
</section><!-- end section id=thedisruptedfoodchain tag -->
<!-- scene home_scene 08 - The Restoration 1 -->
<section id="therestoration1">
	<div id="therestorationlogo">
		<img src=""> <span>THE RESTORATION</span>
	</div>
	<h1>Enter the Bay Foundation...</h1>
	<p>The Bay Foundation has orgnized a team of volunteer and commercial divers to clear sea urchins&#8212; one 300 sq. meter plot at a time.</p><a href="#">See the full contest details</a> <a><img src="#"></a>
</section><!-- end section id=therestoration1>

<!== scene home_scene 08 - The Restoration 2 -->
<section id="therestoration2">
	<div id="therestorationlogo">
		<img src=""> <span>THE RESTORATION</span>
	</div>
	<h1>Enter the Bay Foundation...</h1>
	<p>Clearing the urchins has allowed the kelp forests to regrow, which in turn has benefited all kinds of native marine life&#8212; including the malnourished purple urchins.</p>
	<p>The results have been instantaneous and astounding...</p>
</section><!-- end section id=therestoration2>

<!== scene home_scene 08 - The Restoration 3 -->
<section id="therestoration3">
	<span>THE RESTORATION</span>
	<h1>Within Days...</h1>
	<p>Within days of clearing the sea flow, the kelp quickly returns, at times growing up to 2 feet per day.</p>
</section><!-- end section id=therestoration3>

<!== scene home_scene 08 - The Restoration 4 -->
<section id="therestoration4">
	<span>THE RESTORATION</span>
	<h1>Within Weeks...</h1>
	<p>Within days of clearing the sea floor, the kelp quickly returns, at times growing up to 2 feet per day.</p>
</section><!-- end section id=therestoration4>
    
<!== scene home_scene 08 - The Restoration 5 -->
<section id="therestoration5">
	<span>THE RESTORATION</span>
	<h1>Within Months...</h1>
	<p>In a matter of 3-4 months, a complete underwater forest is restored.</p>
	<p>A fully restored Bay could eventually capture as much as 4.5 million tons of carbon, annually and that's a big deal.</p>
	<p>It also means a more abundant marine life, oxygenated water, and cleaner beaches right here at home. There's no downside.</p>
</section><!-- end section id=therestoration6>
    
<!== scene home_scene 08 - The Restoration 6 -->
<section id="therestoration6">
	<div id="thechallengelogo">
		<img src=""> <span>THE CHALLENGE</span>
	</div>
	<h1>How much can you restore?</h1>
	<p>Fund as many dives as you can, and let's restore the beauty, the sea-life, and the lungs of the Santa Monica Bay</p>
</section><!-- end section id=therestoration6 -->
<!-- scene home_scene 09 - Graciasez -->
<section id="graciasez">
	<h1>Special thanks to our team&#8212;</h1>
	<p>We do this out of our believe that when we all get involved, great things can happen.</p>
	<div id="specialthankslogos">
		<div id="members1">
			<!-- Climate Cents ( Nick, Russel, Fred & Ken )-->
			<img src="">
			<h5>Climate Cents</h5>
			<h6>Nick, Russel, Fred &amp; Ken</h6>
		</div>
		<div id="members2">
			<!-- The Bay Foundation ( Tom Ford, etc )-->
			<img src="">
			<h5>The Bay Foundation</h5>
			<h6>Tom Ford, etc</h6>
		</div>
		<div id="members3">
			<!-- Cantina Creative -->
			<img src="">
			<h5>Cantina Creative</h5>
			<h6>Sean, Venti, and Jieyi Lee (who did a majority of the site illustrations).</h6>
		</div>
		<div id="members4">
			<!-- Name, Name, Name -->
			<img src="">
			<h5>Surfrider Foundation</h5>
			<h6>Name, Name, Name.</h6>
		</div>
	</div><!-- end id=specialthankslogos -->
	<h1>Additional gratitude to all the people who helped us put the challenge together (whether they like it or not):</h1>
	<div id="additionalgratitude">
		<div id="additionalgratitude-no1">
			<p>Stacey, Mila &amp; Jessie Kamish</p>
			<p>Janet Schmidt</p>
			<p>Moet and Azzy Thelian</p>
			<p>Fred &amp; Michaela Watkins</p>
			<p>Bao Quoc Doan, aka Wok</p>
			<p>Craig T.</p>
		</div>
		<div id="additionalgratitude-no2">
			<p>Ron and Cheryl H.</p>
			<p>Possible LA</p>
		</div>
	</div><!-- end id=additionalgratitude -->
</section><!-- end section id=graciasez>
    
    
    -->