<!-- 01 - scene landing -->
<section id="landing" class="section trigger-dark-style">
	<div class="container">

		<div id="landing_title">
			<h1 class="rellax-top" data-rellax-speed="4"></h1>
			<h2 class="rellax-top" data-rellax-speed="4" >APRIL 1ST - APRIL 10TH</h2>
			<h4 class="rellax-top" data-rellax-speed="4">Help bring back the Bay's kelp forest, its marine wildlife, and fight climate change at the same time.</h4>
		</div>

		<div id="social-media" class="rellax-top" data-rellax-speed="0">
			<a href="#"><img src="/images/icon-fb.svg" /></a>
			<a href="#"><img src="/images/icon-instagram.svg" /></a>
			<a href="#"><img src="/images/icon-twitter.svg" /></a>
		</div>

		<div id="btn_takethechallenge" class="rellax-top" data-rellax-speed="-3">
			<button>
					Take The Challenge
				</button>
		</div>
		
		<div id="learnmore" class="rellax-top" data-rellax-speed="-5">
			<a class="animated fadeInUpBig load-delay" href="#">Learn More</a>
		</div>

	</div>

</section>

<div class="container scene-transition">
</div>


<div class='underwater' style=''>
<div class='surface-light'>

	
	<div class="sc-seafloor"></div>
	<div class="sc-deepdive"></div>
	<div class="sc-seafloor-pup"></div>
	<div class="sc-bluefish"></div>
	<div class="sc-redfish"></div>
	<div class="sc-thrive"></div>
	<div class="sc-urchin-split"></div>
	<div class="sc-within-days">
		<div class="sc-within-weeks">
		</div>
	</div>
	<div class="sc-restore"></div>

			
	<!-- 02 - about the challenge-->
	<div class="container gap"></div>
	<section id="about" class="reveal scene reveal-bg-transition trigger-challenge">
		<div class="bg-fish">
		<div class="container rellax"  data-rellax-speed="3">
			<div id="section-logo" class="fade-in-600">
				<img src="images/iconchallenge.svg" /> 
				<span>THE CHALLENGE</span>
			</div>

			<h2 class="fade-in-600">
				What's this challenge you speak of ?
			</h2>

			<div class="callout offset fade-in-600">
				For the month of March, you can help one of our favorite projects. The Santa Monica Bay Kelp Restoration Project restore.
			</div>

			<p class="offset fade-in-700">
				We're working with The Bay Foundation to bring back nearly 40,000 acres of these underwater forests lost due to human activity. As the kelp grows back, wildlife returns, water quality improves, and a whole lot of carton is captured in the kelp stalks.
			</p>

			<p class="offset fade-in-800">
				Now, you can help. Start a team, or go it alone&#8212; see how many dives you can fund, and how much carbon you can help remove from our atmosphere. Winners will receive prizes, and you can post your achievements on social media. Let's all Help Kelp,
				the fishies and climate at the same time!
			</p>

			<div class="cta-details offset fade-in-900">
				<a href="#">See the full contest details</a>
				<img src="/images/modal.svg" />
				</a>
			</div>
		</div>
		</div>
	</section>
	
	<!-- 03 - get started -->
	<div class="container gap"></div>
	<section id="getstarted" class="reveal scene reveal-bg-transition">
		<div class="bg-clipboard">
		<div class="bg-bluezebra">
		<div class="bg-lg-kelp">
		<div class="container rellax" data-rellax-speed="2">
			<h2 class="fade-in-600 hide-mobile">Getting started is easy...</h2>
			<div id="steps">

				<div class="item fade-in-600">
					<h3>Sign Up.</h3>
					<p>Create your personal page, or start your team and recruit members</p>
				</div>


				<div class="item fade-in-700">
					<h3>Set Your Goals</h3>
					<p>Challenge yourself&#8212; set a goal for yourself or your team.</p>
				</div>

				<div class="item fade-in-800">
					<h3>Dive in</h3>
					<p>
						Start sharing your personal or team link, and track your progress towars your goals. Every dollar, every dive, and every opened mind helps.
					</p>
				</div>

				<div class="cta fade-in-900">
					
					<a class="start"  href="#">
						Get Started
					</a>

					<p>
						(If you don't want to start a team, you can always

						<a href="#">donate directly.</a> Every dollar goes to the restoreation effort).
					</p>
				</div>

			</div>
		</div>
		</div>
		</div>
		</div>
	</section>

	<!-- 04 - kelp facts-->
	<div class="container gap"></div>
	<section id="science" class="scene relax reveal-bg-transition" data-rellax-speed="2">
		
		<div class="bg-kelp-2"></div>
		<div class="bg-kelp-3"></div>
		<div class="bg-seal load-delay"></div>
		<div class="bg-shark rellax load-long-delay" data-rellax-speed="-4"></div>
		
		<div class="container rellax" data-rellax-speed="2">
			<div id="section-logo" class="fade-in-600">
				<img src="images/iconscience.svg" />
				<span>THE SCIENCE</span>
			</div>

			<h2 class="fade-in-600">
				So, whats so great about kelp?
			</h2>

			<div class="callout offset fade-in-800">
				Funny you should ask... Kelp forests are the ocean's tropical rainforests, providing habitats for more than 700 species of fish, invertebrates, and other algae.</p>
			</div>

			<p class="offset fade-in-600">
				What's more, they help fight climate change. 
				Our oceans absorb 30-40% of the CO2 in the atmosphere, 
				and as the atmosphere warms, the ocean turns acidic. 
				Kelp grows so quickly, it pulls the CO2 from the water, 
				which reduces the CO2 in the atmosphere as
				well. It's kind of our unsung, climate change super hero.
			</p>

			<div class="cta-details offset fade-in-600">
				<a href="#">Read even more geek kelp facts</a>
				<img src="/images/modal.svg" />
				</a>
			</div>
		</div>
	
		<div class="container rellax">
			<div class="facts">
				<div class="big fade-in-300">1 </div>
				<div class="line1 fade-in-300">Restoration Dive</div>
				<div class="line2 fade-in-600">will capture</div>
				<div class="line3 fade-in-300">8.5 TONS</div>
				<div class="line4 fade-in-600">of CO2 over 10yrs</div>
			</div>
			
			<div class="float-facts">
				<div class="line1 fade-in-800">
					Absorbtion of CO2 and Sea Water Acid
				</div>
				<div class="line2 fade-in-900">
					Release of Oxygen
				</div>
				<div class="line3 fade-in-1000">
					The return of marine life
				</div>
			</div>
		</div>
		
	</section>

	<!-- 05 - the history -->
	<div class="history-scene-bkg scene">
		
		<section id="history" >
			
			<div class="bg-seaotter rellax" data-rellax-speed="-2"></div>
			<div class="bg-surface-light"></div>
			
			<div class="container gap-400"></div>
			<div class="container">
				<div id="section-logo" class="fade-in-800">
					<img src="images/iconhistory.svg" />
					<span>THE HISTORY</span>
				</div>
			</div>
			
			<div class="trigger-seaotter">
				<div class="container history-stop-01 fade-in-1000">
					<h2 class="fade-in-600">Just where did our kelp go?</h2>
		
					<p class="content offset fade-in-400">
						At the turn of the century, the Santa Monica Bay hosted over 
						40,000 acres of kelp forest, and the diverse sea life that it supported.
					</p>
					
					<p class="content offset fade-in-800">
						During this time, the demand for sea otter pelts brought them to near elimination.
					</p>
				</div>
			</div>
				
			<div class="container gap-200"></div>
			<div class="container history-stop-02 fade-in-500 trigger-foodchain">
				<h2 class="fade-in-600">The disrupted food chain.</h2>
				<p class="content offset fade-in-700 trigger-surface-light trigger-urchin">
					Sea otters eat urchins. Urchins eat kelp. 
					When the sea otters disappeared, this allowed the urchin population 
					to flourish, and over time they decimated 95% of our local kelp forests.
				</p>
			</div>
		</section>		
	
	
	
		
		<section id="history" class="restoration scene trigger-restoration">
		
			<div class="bg-history-diver rellax" data-rellax-speed="1">
				<div class="bg-history-bubbles rellax" data-rellax-speed="6"></div>
			</div>
				
			<div class="container right-adjusted fade-in-200">
				<div class="container gap-200"></div>
				<div id="section-logo">
					<img src="images/bayfoundation.png" />
					<span>THE RESTORATION</span>
				</div>
			</div>
			
			<div class="container right-adjusted">
				<h2 class="fade-in-600"> Enter the Bay Foundation…</h2>
				<p class="content offset fade-in-400">
					The Bay Foundation has organized a team of volunteer and commercial divers to clear sea urchins— one 300 sq. meter plot at a time. 	
				</p>
				<p class="content offset fade-in-600 trigger-deepdive">
					Clearing the urchins has allowed the kelp forests to regrow, 
					which in turn has benefited all kinds of native marine life
					— including the malnourished purple urchins.
				</p>
				<p class="content offset fade-in-800">
					The results have been instantaneous and astounding...
				</p>
			</div>
			
			<div class="container gap-400">
			</div>
			
			
			<div class="container">
				<div id="section-logo" class="fade-in-600">
					<img src="images/bayfoundation.png" />
					<span>THE RESTORATION</span>
				</div>
			</div>
		
			<!-- how many days, weeks, months -->	
			<div class="container trigger-days-scene">
				<div class="fade-in-300 trigger-days">
					<h2>
						Within Days…
					</h2>
					<p class="content offset">
						Within days of clearing the sea floor, 
						the kelp quickly returns, at times growing up to 2 feet per day.
					</p>
				</div>
				
				<div class="fade-in-500 trigger-weeks">
					<h2>
						Within Weeks…
					</h2>
					<p class="content offset">
						Within days of clearing the sea floor, the kelp quickly returns, at times growing up to 2 feet per day.
					</p>
				</div>
				<div class="fade-in-600 trigger-months">
					<h2>
						Within Months..
					</h2>
					<p class="content offset">
						In a matter of 3-4 months, a complete underwater forest is restored.
					</p>
					<p class="content offset">
						A fully restored Bay could eventually capture as much as 4.5 million tons of carbon, annually, and that’s a big deal.
					</p>
					<p class="content offset">
						It also means a more abundant marine life, oxygenated water, and cleaner beaches right here at home. There’s no downside.
					</p>
				</div>
			</div>
			
			<div class="container gap">
			</div>
		
	
			<!-- CHALLENGE -->	
			<div class="container center-adjusted fade-in-600">
				<div id="section-logo">
					<img src="images/iconchallenge.svg" /> 
					<span>THE CHALLENGE</span>
				</div>
			</div>
			
			<div class="container center-adjusted fade-in-700 trigger-howmuch">
				<h2>How much can you restore?</h2>
				<p class="content">
					Fund as many dives as you can, and let’s restore the beauty, 
					the sea-life, and the lungs of the Santa Monica Bay.
				</p>
			
				<div class="cta fade-in-600">
					<a class="start animated infinite pulse" href="#">
						Get Started
					</a>
				</div>
			</div>
			
		</section>
	</div>

	<!-- 06 - thanks -->
	<section id="thanks" class="trigger-thanks">
		<div class="box">
			
			<div class="container gap-400">
			</div>
			
			
			<h2 class="fade-in-600">Special thanks to our team</h2>
			
			<p class="sub-title">We do this out of our believe that when we all get involved, great things can happen.</p>
			
			<div class="fade-in-600 members row around-xs">
			    <div class="col-xs-6 col-lg-3">
			        <div class="box">
								<img src="/images/thanks-cc.png">
								<h5>Climate Cents</h5>
								<h6>Nick, Russel, Fred &amp; Ken</h6>
			        </div>
			    </div>
			    <div class="col-xs-6 col-lg-3">
			        <div class="box">
								<img src="/images/thanks-bay.png">
								<h5>The Bay Foundation</h5>
								<h6>Tom Ford, etc</h6>
			        </div>
			    </div>
			    <div class="col-xs-6 col-lg-3">
			        <div class="box">
								<img src="/images/thanks-cantina.png">
								<h5>Creative Cantina</h5>
								<h6>
									Sean, Venti, and Jieyi Lee (who did a majority of the site illustrations).
								</h6>
			        </div>
			    </div>
			    <div class="col-xs-6 col-lg-3">
			        <div class="box">
								<img 
								style="margin: 10px 0"
								src="/images/thanks-surfrider.png">
								<h5>Surfrider Foundation</h5>
								<h6>Name, Name, Name.</h6>
			        </div>
			    </div>
			</div>
			
			<p class="sub-footnote">
				Additional gratitude to all the people who helped us put 
				the challenge together (whether they like it or not ):
			</p>

			<div class="morethanks row around-xs">
			    <div class="col-xs-12 col-lg-6">
			        <div class="box">
								<p>Stacey, Mila &amp; Jessie Kamish</p>
								<p>Janet Schmidt</p>
								<p>Moet and Azzy Thelian</p>
								<p>Fred &amp; Michaela Watkins</p>
								<p>Bao Quoc Doan, aka Wok</p>
								<p>Craig T.</p>
			        </div>
			    </div>
			    <div class="col-xs-12 col-lg-6">
			        <div class="box">
								<p>Ron and Cheryl H.</p>
								<p>Possible LA</p>
			        </div>
			    </div>
			    <div class="col-xs-12 col-lg-12">
			        <div class="box">
			        	
			        </div>
			    </div>
			</div>
			
		</div>
	</section>

</div>
</div>
