<!-- 01 - scene landing -->
<section id="landing" class="section">
	<div class="container">

		<div id="landing_title">
			<h1></h1>
			<h2>APRIL 1ST - APRIL 10TH</h2>
			<h4>Help bring back the Bay's kelp forest, its marine wildlife, and fight climate change at the same time.</h4>
		</div>

		<div id="social-media">
			<a href="#"><img src="/images/icon-fb.svg" /></a>
			<a href="#"><img src="/images/icon-instagram.svg" /></a>
			<a href="#"><img src="/images/icon-twitter.svg" /></a>
		</div>

		<div id="btn_takethechallenge">
			<button>
					Take The Challenge
				</button>
		</div>
		<div id="learnmore">
			<a href="#">Learn More</a>
		</div>

	</div>
</section>


<div class='underwater'>


	<!-- 02 - about the challenge-->
	<section id="about" class="scene">
		<div class="container">

			<div id="section-logo">
				<img src="images/iconchallenge.svg" /> 
				<span>THE CHALLENGE</span>
			</div>

			<h2>
				What's this challenge you speak of ?
			</h2>

			<div class="callout offset">
				For the month of March, you can help one of our favorite projects. The Santa Monica Bay Kelp Restoration Project restore.
			</div>

			<p class="offset">
				We're working with The Bay Foundation to bring back nearly 40,000 acres of these underwater forests lost due to human activity. As the kelp grows back, wildlife returns, water quality improves, and a whole lot of carton is captured in the kelp stalks.
			</p>

			<p class="offset">
				Now, you can help. Start a team, or go it alone&#8212; see how many dives you can fund, and how much carbon you can help remove from our atmosphere. Winners will receive prizes, and you can post your achievements on social media. Let's all Help Kelp,
				the fishies and climate at the same time!
			</p>

			<div class="cta-details offset">
				<a href="#">See the full contest details</a>
				<img src="/images/modal.svg" />
				</a>
			</div>

		</div>
	</section>


	<!-- 03 - get started -->
	<section id="getstarted" class="scene">
		<div class="container">
			<h2>Getting started is easy...</h2>
			<div id="steps">

				<div class="item">
					<h3>Sign Up.</h3>
					<p>Create your personal page, or start your team and recruit members</p>
				</div>


				<div class="item">
					<h3>Set Your Goals</h3>
					<p>Challenge yourself&#8212; set a goal for yourself or your team.</p>
				</div>

				<div class="item">
					<h3>Dive in</h3>
					<p>
						Start sharing your personal or team link, and track your progress towars your goals. Every dollar, every dive, and every opened mind helps.
					</p>
				</div>

				<div class="cta">
					<a class="start" href="#">
						Get Started
					</a>

					<p>
						(If you don't want to start a team, you can always

						<a href="#">donate directly.</a> Every dollar goes to the restoreation effort).
					</p>
				</div>

			</div>
		</div>
	</section>


	<!-- 04 - kelp facts-->
	<section id="science" class="scene">
		
		<div class="container">

			<div id="section-logo">
				<img src="images/iconscience.svg" />
				<span>THE SCIENCE</span>
			</div>

			<h2>
				So, whats so great about kelp?
			</h2>

			<div class="callout offset">
				Funny you should ask... Kelp forests are the ocean's tropical rainforests, providing habitats for more than 700 species of fish, invertebrates, and other algae.</p>
			</div>

			<p class="offset">
				What's more, they help fight climate change. Our oceans absorb 30-40% of the CO2 in the atmosphere, and as the atmosphere warms, the ocean turns acidic. Kelp grows so quickly, it pulls the CO2 from the water, which reduces the CO2 in the atmosphere as
				well. It's kind of our unsung, climate change super hero.
			</p>

			<div class="cta-details offset">
				<a href="#">Read even more geek kelp facts</a>
				<img src="/images/modal.svg" />
				</a>
			</div>
		</div>
	
		<div class="container">
			<div class="facts">
				<div class="big">1 </div>
				<div class="line1">Restoration Dive</div>
				<div class="line2">will capture</div>
				<div class="line3">8.5 TONS</div>
				<div class="line4">of CO2 over 10yrs</div>
			</div>
			
			<div class="float-facts">
				<div class="line1">
					Absorbtion of CO2 and Sea Water Acid
				</div>
				<div class="line2">
					Release of Oxygen
				</div>
				<div class="line3">
					The return of marine life
				</div>
			</div>
		</div>
	</section>


	<!-- 05 - the history -->
	<div class="history-scene-bkg">
	<section id="history" class="scene">
		
		<div class="container">
			<div id="section-logo">
				<img src="images/iconhistory.svg" />
				<span>THE HISTORY</span>
			</div>
		</div>
		
		<div class="container">
			<h2>Just where did our kelp go?</h2>

			<p class="content offset">
				At the turn of the century, the Santa Monica Bay hosted over 
				40,000 acres of kelp forest, and the diverse sea life that it supported.
			</p>

			<p class="content offset">
				Around that time, the demand for sea otter pelts brought them to near elimination.
			</p>
		</div>
		
		<div class="container">
			<h2>The disrupted food chain.</h2>
			<p class="content offset">
				Sea otters eat urchins. Urchins eat kelp. 
				When the sea otters disappeared, this allowed the urchin population 
				to flourish, and over time they decimated 95% of our local kelp forests.
			</p>
		</div>
	
		<div class="container gap">
		</div>
		
		<div class="container right-adjusted">
			<div id="section-logo">
				<img src="images/bayfoundation.png" />
				<span>THE RESTORATION</span>
			</div>
		</div>
		<div class="container right-adjusted">
			<h2>Enter the Bay Foundation…</h2>
			<p class="content offset">
				Clearing the urchins has allowed the kelp forests to regrow, 
				which in turn has benefited all kinds of native marine life
				— including the malnourished purple urchins.
			</p>
			<p class="content offset">
				The results have been instantaneous and astounding...
			</p>
		</div>
		
		<div class="container gap">
		</div>
		
		<div class="container">
			<div id="section-logo">
				<img src="images/bayfoundation.png" />
				<span>THE RESTORATION</span>
			</div>
		</div>
		
		<div class="container">
			<h2>
				Within Days…
			</h2>
			<p class="content offset">
				Within days of clearing the sea floor, 
				the kelp quickly returns, at times growing up to 2 feet per day.
			</p>
			<h2>
				Within Weeks…
			</h2>
			<p class="content offset">
				Within days of clearing the sea floor, the kelp quickly returns, at times growing up to 2 feet per day.
			</p>
				
			<h2>
				Within Months..
			</h2>
			<p class="content offset">
				In a matter of 3-4 months, a complete underwater forest is restored.
			</p>
			<p class="content offset">
				A fully restored Bay could eventually capture as much as 4.5 million tons of carbon, annually, and that’s a big deal.
			</p>
			<p class="content offset">
				It also means a more abundant marine life, oxygenated water, and cleaner beaches right here at home. There’s no downside.
			</p>
		</div>
		
		
		<div class="container gap">
		</div>
	
		<!-- ChALLENGE -->	
		<div class="container center-adjusted">
			<div id="section-logo">
				<img src="images/iconchallenge.svg" /> 
				<span>THE CHALLENGE</span>
			</div>
		</div>
		
		
		<div class="container center-adjusted">
			<h2>How much can you restore?</h2>
			<p class="content">
				Fund as many dives as you can, and let’s restore the beauty, 
				the sea-life, and the lungs of the Santa Monica Bay.
			</p>
		
			<div class="cta">
				<a class="start" href="#">
					Get Started
				</a>
			</div>
		</div>
	</section>
	</div>

	<!-- 06 - thanks -->
	<section id="thanks">
		<div class="box">
			<h2>Special thanks to our team</h2>
			
			<p class="sub-title">We do this out of our believe that when we all get involved, great things can happen.</p>
			
			<div class="members row around-xs">
			    <div class="col-xs-2">
			        <div class="box">
								<img src="/images/thanks-cc.png">
								<h5>Climate Cents</h5>
								<h6>Nick, Russel, Fred &amp; Ken</h6>
			        </div>
			    </div>
			    <div class="col-xs-2">
			        <div class="box">
								<img src="/images/thanks-bay.png">
								<h5>The Bay Foundation</h5>
								<h6>Tom Ford, etc</h6>
			        </div>
			    </div>
			    <div class="col-xs-2">
			        <div class="box">
								<img src="/images/thanks-cantina.png">
								<h5>Creative Cantina</h5>
								<h6>
									Sean, Venti, and Jieyi Lee (who did a majority of the site illustrations).
								</h6>
			        </div>
			    </div>
			    <div class="col-xs-2">
			        <div class="box">
								<img 
								style="margin: 10px 0"
								src="/images/thanks-surfrider.png">
								<h5>Surfrider Foundation</h5>
								<h6>Name, Name, Name.</h6>
			        </div>
			    </div>
			</div>
			
			<p class="sub-footnote">
				Additional gratitude to all the people who helped us put 
				the challenge together (whether they like it or not):
			</p>

			<div class="morethanks row around-xs">
			    <div class="col-xs-2">
			        <div class="box">
								<p>Stacey, Mila &amp; Jessie Kamish</p>
								<p>Janet Schmidt</p>
								<p>Moet and Azzy Thelian</p>
								<p>Fred &amp; Michaela Watkins</p>
								<p>Bao Quoc Doan, aka Wok</p>
								<p>Craig T.</p>
			        </div>
			    </div>
			    <div class="col-xs-2">
			        <div class="box">
								<p>Ron and Cheryl H.</p>
								<p>Possible LA</p>
			        </div>
			    </div>
			    <div class="col-xs-2">
			        <div class="box">
			        	
			        </div>
			    </div>
			</div>
			
		</div>
	</section>



</div>
