<section id="kelpLeaderboards">
	<div id="h1_2018kelpchallengeleaderboard">
		<h1>2018 KELP CHALLENGE LEADERBOARD</h1>
	</div>
	<div id="copy_thankyou_2018kelpchallengeleaderboard">
		<p>Thank you to everyone for getting involved in our first annual kelp challenge. Every dollar helps the Bay Foundation get closer to their mission of restoring of all 40 acres of kelp forest to the Santa MOnica Bay. It's good for the marine life, the ocean, and all of us.</p>
	</div>
	<div id="mostleaderboards">
		<ul>
			<li>
				<a href="#">Most Raised</a>
			</li>
			<li>|</li>
			<li>
				<a href="#">Most Donors</a>
			</li>
		</ul>
	</div>
	<div id="stats_2018_leaderboards">
		<ul>
			<li>
				<div id="intplaceroster_leaderboard">
					<h1>1</h1>
				</div>
				<div id="avatar#member_#"><img src=""></div>
				<div id="name#member_#">
					<h3>Hannah Pratt</h3>
				</div>
				<div id="intmembers#member_#">
					<div id="intmembers">
						<h6>10</h6>
					</div>
					<p>Members</p>
				</div>
				<div id="floatfundedmoney#member_#">
					<div id="floatfunded">
						<h3>$300</h3>
					</div>
				</div>
				<div id="floatdivesfunded#member_#">
					<div id="floatdivesfunded">
						<h6>.3</h6>
					</div>
					<p>Dives Funded</p>
				</div>
				<div id="intDonors#member_#">
					<div id="intdonors">
						<h3>45</h3>
					</div>
					<p>Donors</p>
				</div>
			</li>
		</ul>
		<div id="no1-hr">
			<hr>
		</div>
	</div><!-- end tag id=stats_2018_leaderboards -->
	<div id="feelinguptothechallenge">
		<p>Feeling up to the challenge? It's never too late to join the effort.</p>
	</div>
	<div id="btn_signup">
		<button>
		<ul>
			<li id="signup">
				<a href="#">Sign Up</a> 
			</li>
		</ul></button>
	</div>
	<div id="justhowdothediveswork">
		<p>Just how do the dives work?</p>
		<h6><a href="#">Let us show you &gt;</a></h6>
	</div>
</section><!-- end section id=kelpleaderboards -->