<section id="kelpteampage-captain">
	<div id="myteammyprofile">
		<ul>
			<li>
				<a href="#">My Team</a>
			</li>
			<li>|</li>
			<li>
				<a href="#">My Profile</a>
			</li>
		</ul>
	</div>
	<div id="mostleaderboards">
		<ul>
			<li>
				<a href="#">Most Raised</a>
			</li>
			<li>|</li>
			<li>
				<a href="#">Most Donors</a>
			</li>
		</ul>
	</div>
	<div id="theteamslogo"><img src=""></div>
	<div id="theteamsname">
		<h1>UnderWater Broz</h1>
	</div>
	<div id="theteamspagelink">
		<a href="#">www.kelpchallenge/team/underwaterbroz</a> 
	</div>
	<div id="theteamscommentary">
		lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum <!-- enter lorem ipsum here -->
	</div>
	<div id="btn_editgoalsandteamprofile">
		<button>
		<ul>
			<li id="li_editgoalsandteamprofile">
				<h6>Edit Goals &amp; Team Profile</h6>
			</li>
		</ul></button>
	</div>
	<div id="btn_donate">
		<button>
		<ul>
			<li>
				<h5>Donate</h5>
			</li>
		</ul></button>
	</div>
	<div id="btn_share">
		<button>
		<ul>
			<li>
				<h5>share</h5>
			</li>
		</ul></button>
	</div>
	<div id="metricsgoal-no1">
		<h6></h6>
		<div id="floatfundedgoal">
			<h6>$1,000 Goal</h6>
		</div>
	</div>
	<div id="metricsgoal-no2">
		<h6></h6>
		<div id="floatdivesgoal">
			<h6>1 Dive</h6>
		</div>
	</div>
	<div id="meterbar_goaldivision"><img src=""></div>
	<div id="metricsraised">
		<h6></h6>
		<div id="floatfunded">
			<h6>$300 Raised</h6>
		</div>
	</div>
	<div id="metricsaudit">
		<h6></h6>
		<div id="floatdivesfunded">
			<h6>.3 Dives funded</h6>
		</div>
		<h6></h6>
		<div id="floatsqmeterscleared">
			<h6>100 sq. meters will be cleared</h6>
		</div>
		<h6></h6>
		<div id="floatcubicscaptured">
			<h6>340 cu. tons Carbon Captured</h6>
		</div>
	</div>
	<div id="membershudinterface">
		<h2>Team Members</h2>
		<div id="avatar#member_#"><img src=""></div>
		<div id="name#member_#">
			Captain Nick
		</div>
	</div><!-- end tag id=membershudinterface -->
	<div id="donorshudinterface">
		<h2>Donors</h2>
		<div id="avatar#member_#"><img src=""></div>
		<div id="name#member_#">
			Viola Holt
		</div>
	</div><!-- end tag id=donorshudinterface -->
	<div id="copy_getnameonwall">
		<p>Get your name on this wall&#8212; Help fund a dive today.</p>
	</div>
	<div id="btn_donate">
		<button>
		<ul>
			<li>
				<h5>Donate</h5>
			</li>
		</ul></button>
	</div>
	<div id="justhowdothediveswork">
		<p>Just how do the dives work?</p>
		<h6><a href="#">Let us show you &gt;</a></h6>
	</div>
</section><!-- end section id=kelpteampage-captain -->